.header{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.338);
}
.left-section{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 40px;
    margin-left: 62px;
    max-width: 500px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-icon{
    height: 25px;
}
.voice-search-button
{
    border: none;
    margin-left: 8px;
    height: 39px;
    width: 39px;
    border-radius: 100px;
    background-color: rgba(200, 200, 200, 0.296);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.search-button{
    height: 39px;
    width: 63px;
    margin-left: -2px;
    border-radius: 2px;
    border: 1px solid rgba(200, 200, 200);
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.search-bar{
    flex: 1;
    height: 35px;
    border-radius: 2px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.05);
    margin-right: -2px;
    padding-left: 14px;
    width: 0px;
}
.search-bar::placeholder{
    font-size: 16px;
    color: rgb(131, 131, 131);
}
.right-section{
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
}
.youtube-logo{
    margin-left: 22px;
    height: 20px;
    cursor: pointer;
}
.upload-icon,
.youtube-apps-icon,
.notifications-icon,
.my-channel
{
    height: 24px;
}
.my-channel{
    margin-right: 20px;
    height: 33px;
    cursor: pointer;
}
.notification,
.right-section .right{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.number{
    position: absolute;
    background-color: rgb(198, 0, 0);
    padding: 2px 6px;
    border-radius: 100px;
    top: -3px;
    right: -6px;
    color: white;
    font-size: 10px;
}
.right-section div .tooltip,
.voice-search-button .tooltip,
.search-button .tooltip{
    position: absolute;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 11px;
    padding: 10px;
    border-radius: 2px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.right-section div:hover .tooltip,
.voice-search-button:hover .tooltip,
.search-button:hover .tooltip{
    opacity: 1;
}
.search-button:hover{
    background-color: rgb(231, 231, 231);

}
